.App {
  text-align: center;
  font-family: "Arial", sans-serif;
}

form {
  margin: 20px auto;
  max-width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  padding: 10px;
  margin: 5px 0 0 0;
  border: none;
  border-radius: 5px;
  background-color: #5cdb95;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.application-button {
  width: 50%;
}

.dashboard-button {
  width: 20%;
}

button:hover {
  background-color: #379683;
}

p {
  color: #05386b;
}

.welcome-message {
  font-size: 20px;
  color: #379683;
  margin: 20px 0;
}

header {
  background-color: #379683;
  color: white;
  padding: 10px 0;
}

header nav .nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  height: 100%;
}

header li {
  display: inline;
  margin: 0 15px;
  height: 100%;
}

header ul {
  list-style: none;
  padding: 0;
  height: 100%;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header a:hover {
  color: #5cdb95;
  transform: scale(1.2);
}

.nav-content .home-icon {
  vertical-align: middle;
  width: 20px;
  height: auto;
  transition: transform 0.3s ease;
}

.nav-content .home-icon:hover {
  transform: scale(1.2);
}

.nav-content .header-link:hover {
  transition: transform 0.3s ease;
  transform: scale(1.2);
}
